<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoBackup.Library.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhotoBackup.Library.UserSettings>
            <setting name="IPhoneDirectory" serializeAs="String">
                <value>/Internal Storage/</value>
            </setting>
            <setting name="DestinationDirectory" serializeAs="String">
                <value>C:/Users/703434671/Downloads/PhotoTest</value>
            </setting>
            <setting name="LocalDirectory" serializeAs="String">
                <value>C:/Users/703434671/Downloads/PhotosToBackup</value>
            </setting>
        </PhotoBackup.Library.UserSettings>
    </userSettings>
</configuration>